include ../link/link

mixin card(data)
  if data.accId
    +b(class='card')&attributes(attributes)
      +e(class='header' role='tab')
        +link()(data-toggle='collapse' 
                data-parent='#'+data.accId 
                href='#'+data.accId+'-'+data.index 
                aria-expanded='true' 
                aria-controls=data.accId+'-'+data.index)= data.header 
      if data.show          
        +b(id=data.accId+'-'+data.index 
          class='collapse collapse--show' 
          role='tabpanel' 
          aria-labelledby=data.accId+'heading'+'-'+data.index)
          +e(class='block')
            if data.title
              +e('h4')(class='title')= data.title
            +e('p')(class='text')= data.text
      else
        +b(id=data.accId+'-'+data.index 
          class='collapse' 
          role='tabpanel' 
          aria-labelledby=data.accId+'heading'+'-'+data.index)              
          +e(class='block')
            if data.title
              +e('h4')(class='title')= data.title
            +e('p')(class='text')= data.title
  else  
    +b(class='card')&attributes(attributes)
      if(data.header)
        +e(class='header' role='tab')= data.header || 'Хедер'
      if(data.image)
        +e('img')(src=data.image.src class='image' alt=data.image.name)  
      +e(class='block')
        +e('h4')(class='title')= data.title || 'Заголовок'
        +e('p')(class='text')= data.text || 'Текст'
