include ../link/link

mixin card(data)
  if data.accId
    if data.item
      +b(class='card')&attributes(attributes)
        +e(class='header' role='tab')
          +link()(data-toggle='collapse' 
                  data-parent='#'+data.accId 
                  href='#'+data.accId+'-'+data.index 
                  aria-expanded='true' 
                  aria-controls=data.accId+'-'+data.index)= data.item.header 
        if data.item.show          
          +e(id=data.accId+'-'+data.index 
            class='collapse collapse collapse--show' 
            role='tabpanel' 
            aria-labelledby=data.accId+'heading'+'-'+data.index)
            +e(class='block')
              if data.title
                +e('h4')(class='title')= data.item.title
              +e('p')(class='text')= data.item.text
        else
          +e(id=data.accId+'-'+data.index 
            class='collapse collapse' 
            role='tabpanel' 
            aria-labelledby=data.accId+'heading'+'-'+data.index)              
            +e(class='block')
              if data.title
                +e('h4')(class='title')= data.item.title
              +e('p')(class='text')= data.item.text
    else
      +b(class='card')&attributes(attributes)
        +e(class='header' role='tab')
          +link()(data-toggle='collapse' 
                  data-parent='#'+data.accId 
                  href='#'+data.accId+'-'+data.index 
                  aria-expanded='true' 
                  aria-controls=data.accId+'-'+data.index)= data.header 
        if data.show          
          +e(id=data.accId+'-'+data.index 
            class='collapse collapse collapse--show' 
            role='tabpanel' 
            aria-labelledby=data.accId+'heading'+'-'+data.index)
            +e(class='block')
              block
        else
          +e(id=data.accId+'-'+data.index 
            class='collapse collapse' 
            role='tabpanel' 
            aria-labelledby=data.accId+'heading'+'-'+data.index)              
            +e(class='block')
              block 
  else  
    +b(class='card')&attributes(attributes)
      if(data.header)
        +e(class='header' role='tab')= data.header
      else if(data.image && data.image.position === 'top' || data.image && data.image.position === 'overlay')
        +e('img')(src=data.image.src class='img' alt=data.image.name)
      if(data.image.position === 'overlay')    
        +e(class='img-overlay')
          if data.title
            +e('h4')(class='title')= data.title
          if data.text  
            +e('p')(class='text')= data.text
          block
      else
        +e(class='block')
          if data.title
            +e('h4')(class='title')= data.title
          if data.text  
            +e('p')(class='text')= data.text
          block
      if(data.image && data.image.position === 'bottom')
        +e('img')(src=data.image.src class='img' alt=data.image.name)
